<div class="dg-card">
  <div class="dg-card-header">
    <div class="clearfix" style="width: 100%">
      <div class="float-left">
        <h4>Skills</h4>
      </div>
      <% if policy(character).edit? %>
        <% if character.skill_set.nil? %>
          <div class="float-right">
            <%= link_to( 'Set Skills', new_dg_character_skill_set_path(character), class: 'button small') %>
          </div>
        <% else %>
          <div class="float-right">
            <%= link_to( 'Edit Skills', edit_dg_character_skill_set_path(character, character.skill_set), class: 'button small') %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="dg-card-section">
    <% if character.skill_set %>
      <%= react_component('SkillTable',
                          skillSet: character.skill_set,
                          baseSkills: @base_skills) %>
    <% end %>
  </div>
</div>
