<div class="card">
  <div class="card-divider">
    <div class="clearfix" style="width: 100%">
      <div class="float-left">
        Skills
      </div>
      <% if character.skill_set.nil? %>
        <div class="float-right">
          <%= link_to( 'Set Skills', new_dg_character_skill_set_path(character), class: 'button small') %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-section">
  </div>
</div>
