<%= render '/shared/header' %>
<%= render '/shared/breadcrumbs', crumbs: [
  link_to(campaign.name, campaign),
  'New Character'] %>

<div class="grid-x align-center">
  <div class="cell small-12 medium-6">
    <fieldset class="fieldset">
      <legend>New Character</legend>
      <%= form_for :dg_character, method: :post, url: dg_campaign_characters_path do |f| %>
        <%= render 'character_inputs', f: f, character: character %>
      <% end %>
    </fieldset>
  </div>
</div>
