<div class="top-bar">
  <div class="top-bar-left">
    <ul class="breadcrumbs">
      <li><%= link_to('Home', user_path(current_user)) %></li>
      <li><%= link_to(character.campaign.name, character.campaign) %></li>
      <li><%= character.display_name %></li>
    </ul>
  </div>
</div>

<div class="grid-x align-center">
  <div class="cell small-12 medium-10">
    <%= render 'character_attributes', character: character %>
  </div>
</div>
