<%= render '/shared/campaign',
  new_character_path: new_dg_campaign_character_path(campaign) %>

<div class="row align-center">
  <div class="column small-12 medium-10">
    <%= render '/dg/characters/character_table', characters: campaign.characters %>
  </div>
</div>
