<div class="fright" >
  <%= link_to 'Character Page', coc_character_path( @character ) %>
</div>
<div class='page-title'>
  Characteristics
</div>
<div style="float: left; width: 600px;">
  <div>Do you wish to prioritize your character's attributes?  This will allow you to arrange the attributes' values from highest to lowest (the top-most attribute the will have the highest roll value, and the bottom-most attribute will have the lowest roll value).</div>
  <div class="button-box"></div>
  <%
     characteristics = {
             strength: @character.characteristic_set.strength,
             dexterity: @character.characteristic_set.dexterity,
             power: @character.characteristic_set.power,
             intelligence: @character.characteristic_set.intelligence,
             appearance: @character.characteristic_set.appearance,
             constitution: @character.characteristic_set.constitution,
             size: @character.characteristic_set.size,
             education: @character.characteristic_set.education
     }
  %>
  <%= render 'order_characteristics', characteristics: characteristics %>
</div>


<div style="float: left; width: 300px;">
  <%= render 'characteristic_info' %>
</div>
