<div class="top-bar">
  <div class="top-bar-left">
    <ul class="breadcrumbs">
      <li>Campaigns</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li>
        <div class="button-group">
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'button') %>
          <%= link_to('Create Campaign', new_campaign_path, class: 'button') %>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row align-center">
  <div class="column small-12 medium-10">
    <table>
      <thead>
        <tr>
          <th>Campaign</th>
          <th>System</th>
        </tr>
      </thead>
      <tbody>
        <% user.all_campaigns.each do |campaign| %>
          <tr>
            <td><%= link_to(campaign.name, campaign_path(campaign)) %></td>
            <td><%= campaign.game_system.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
