<div class="top-bar">
  <div class="top-bar-left">
    <ul class="breadcrumbs">
      <li><%=  %></li>
      <li><%=campaign.name%></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li>
        <div class="button-group">
          <%= link_to 'Delete Campaign', campaign, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %>
          <%= link_to 'Create Character', new_character_path, class: 'button' %>
        </div>
      </li>
    </ul>
  </div>
</div>
