<div class="fright">
  <%= link_to 'Home', root_path %> |
  <%= link_to 'Create New Character', new_character_path %> |
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
</div>
<%= render 'character_table', characters: @characters %>
