
<%= render 'character_summary', character: @character %>

<%= render 'characteristic_sets/characteristic_table', character: @character %>

<div class="cleft"></div>

<%= render 'skill_sets/skill_table', character: @character %>

<div class="cleft"></div>
<div>
  <%= link_to button_tag( 'All Characters' ), characters_path %>
</div>