<div class="top-bar">
  <div class="top-bar-left">
    <ul class="breadcrumbs">
      <li><%= link_to('Home', user_path(current_user)) %></li>
      <li><%= link_to(character.campaign.name, character.campaign) %></li>
      <li><%= link_to(character.display_name, character) %></li>
      <li>Set Statistics</li>
    </ul>
  </div>
</div>

<%= react_component('NewSkillSet',
                    baseSkills: @base_skills,
                    skillPackages: @skill_packages,
                    occupationSkills: @occupation_skills) %>
