<%= render '/shared/campaign', new_character_path: new_coc_character_path %>

<div class="row align-center">
  <div class="column small-12 medium-10">
    <%= render '/coc/characters/character_table', characters: campaign.characters %>
  </div>
</div>
