<div class="fright">
  <%= link_to 'Home', root_path %> |
  <%= link_to 'Delete', campaign_path(campaign), method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
</div>

<%= render 'coc/characters/character_table', characters: campaign.coc_characters %>

