.attribute {
  border: 1px solid lightgray;
  padding: 10px 5px;

  .attribute-label {
    color: gray;
  }
}

.assign-attribute-name {
  border-top: solid 2px #e6e6e6;
  border-left: solid 2px #e6e6e6;
  border-right: solid 1px #e6e6e6;
  border-bottom: solid 2px #e6e6e6;
  margin: 5px 0 5px 5px;
  padding: 8px;
}

.statistic-value {
  background-color: white;
  border-top: solid 2px #e6e6e6;
  border-right: solid 2px #e6e6e6;
  border-left: solid 1px #e6e6e6;
  border-bottom: solid 2px #e6e6e6;
  margin: 5px 5px 5px 0;
  padding: 8px;
}


@media screen and (max-width: 39.9375em) {
  .statistic-value.derived {
    height: 62px;
  }
}

.assign-attribute-subtext {
  font-size: .75rem;
  color: gray;
}

.occupation-skill {
}

.occupation-skill-option {
  width: 100%;
}

.skill-addition {
  color: green;
}

.skill-set td {
  font-size: 0.75rem;
  padding: 0.25rem 0.625rem 0.25rem 0.625rem;
}

.option-text-field {
  height: 1.5rem;
  font-size: .75rem;
  margin-bottom: -5px;
  margin-top: -5px;
  display: inline-block;
  max-width: 100px;
}

.skill-package-option {
  width: 180px;
  display: inline-block;
  margin-bottom: 0;
}

.deprecated {
  a:link {
    color: #0066FF;
  }

  a:visited {
    color: #CC33FF;
  }

  button, .button {
    color: black;
    height: 14px;
    float: left;
    font-size: 12px;
    border: 2px solid black;
    background-color: #909090;
    border-radius: 7px;
    padding: 5px;
    box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.05), inset 0px 1px 0px rgba(250,250,250,0.5);
  }

  .button-disabled {
    border: 2px solid #424242;
    color: #424242;
    border-radius: 7px;
    padding: 5px;
    box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.05), inset 0px 1px 0px rgba(250,250,250,0.5);
  }

  .button:hover {
    background-color: rgb(230, 230, 230);
  }

  .button-disabled:hover {
    background-color: #909090;
  }

  input.error {
    color: red;
    background-color: rgb(252, 196, 196);
    border-color: red;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  .cright {
    clear: right;
  }

  .cleft {
    clear: left;
  }

  .clear {
    clear: left;
    clear: right;
  }

  .errors {
    text-align: center;
    background-color: pink;
    color: red;
    border: 2px solid red;
    padding: 10px;
  }

  .fright {
    float: right;
  }

  .fleft {
    float: left;
  }

  html {
    background-color: #383838;
    color: #FFFFFF;
  }

  .page-title {
    font-size: 24px;
    padding: 10px;
  }

  .red {
    color: red;
  }

  .table-summary {
    border: 1px solid #909090;
    padding: 5px;
    margin: 20px;
    float: left;
  }

  .table-title {
    border-bottom: 1px solid #909090;
    padding: 3px;
  }

  td {
    padding: 3px;
  }

  .w100 {
    width: 100px;
  }
}
