input.error {
  color: red;
  background-color: rgb(252, 196, 196);
  border-color: red;
}

p.help {
  border: 1px;
}

.character-summary {
  padding: 20px;
  float: left;
}

.characteristics {
  padding: 20px;
  float: left;
}

.skills {
  padding: 20px;
}

.cleft {
  clear: left;
}