input.error {
  color: red;
  background-color: rgb(252, 196, 196);
  border-color: red;
}

.button-box {
  padding: 20px;
}

.cright {
  clear: right;
}

.cleft {
  clear: left;
}

.table-summary {
  border: 1px solid #000000;
  margin: 20px;
  float: left;
}

.table-title {
  border-bottom: 1px solid #000000;
}

.fright {
  float: right;
}

.fleft {
  float: left;
}

.page-title {
  text-align: center;
  font-size: 20px;
  padding: 10px;
}