@import '_settings';
@import 'all';

.breadcrumbs-container {
  padding: 10px;
}

.add-new-link {
  float: right;
  padding: 10px 0;
}

.download-pdf {
  margin-left: 15px;
}

.attribute {
  border: 1px solid lightgray;
  padding: 10px 5px;

  .attribute-label {
    color: gray;
  }
}

.assign-attribute-name {
  border-top: solid 2px #e6e6e6;
  border-left: solid 2px #e6e6e6;
  border-right: solid 1px #e6e6e6;
  border-bottom: solid 2px #e6e6e6;
  margin: 5px 0 5px 5px;
  padding: 8px;
}

.dg-card {
  border: solid $medium-gray;
  border-radius: 10px;
  margin-bottom: 20px;

  .dg-card-header {
    padding: 10px;
    background-color: $medium-gray;
  }

  .dg-card-section {
    padding: 10px;
  }
}

@mixin selectable-option {
  border: solid 1px grey;
  margin: 5px 0;
  padding: 2px 10px;

  &:focus {
    background-color: $gray-light;
    outline: none;
  }
  &.selected {
    background-color: $main-color-light;
  }
  &.selected:focus {
    background-color: $main-color-light;
  }
}

.selectable {
  cursor: pointer;
  background-color: $gray-light;

  &:hover {
    background-color: $gray-extra-light;
  }

  &.selected {
    background-color: $main-color-light;
  }
  &.selected:hover {
    background-color: $main-color-extra-light;
  }

  &.unselectable {
    cursor: auto;
    background-color: $gray-extra-light;
    &:hover {
      background-color: $gray-extra-light;
    }
    &.selected {
      background-color: $main-color-light;
      &:hover {
        background-color: $main-color-light;
      }
    }
  }
}

.statistic-set-option {
  @include selectable-option;
  display: flex;
  justify-content: center;
  border-radius: 15px;

  .statistic-set-option-name {
    width: 120px;
    padding: 3px;
  }

  .statistic-set-option-value {
    width: 20px;
    text-align: center;
    padding: 3px 20px;;
  }
}

.statistic-value {
  background-color: white;
  border-top: solid 2px #e6e6e6;
  border-right: solid 2px #e6e6e6;
  border-left: solid 1px #e6e6e6;
  border-bottom: solid 2px #e6e6e6;
  margin: 5px 5px 5px 0;
  padding: 8px;
}

.assign-attribute-subtext {
  font-size: .75rem;
  color: gray;
}

.skill-addition {
  color: $main-color;
  padding-left: 5px;
}

.skill-set td {
  font-size: 0.75rem;
  padding: 0.25rem 0.625rem 0.25rem 0.625rem;
}

.option-text-field {
  height: 1.5rem;
  font-size: .75rem;
  margin-bottom: -5px;
  margin-top: -5px;
  display: inline-block;
  max-width: 100px;
}

.skill-package-option {
  width: 180px;
  display: inline-block;
  margin-bottom: 0;
}


.occupation-chooser, .skill-package-chooser, .new-skills {
  .set-skill-option {
    @include selectable-option;
  }

  .occupation-skill {
    @include selectable-option;
    border-radius: 5px;
  }

  select.occupation-skill-option {
    @include selectable-option;
    width: 100%;
    margin: 0 0 5px;
    border-radius: 5px;
    height: 30px;
    padding-right: 30px;
  }


  .skill-option {
    padding-bottom: 20px;
    padding-top: 10px;
  }
}

.large.reveal {
  height: 90%;
}

@media screen and (max-width: 39.9375em) {
  .statistic-value.derived {
    height: 62px;
  }
}
