@import '_settings';

.character-cards {
  height: 600px;
  display: flex;
  overflow-x: scroll;

  .character-card {
    min-width: 350px;
    margin-left: 5px;
    margin-right: 5px;

    .stat-label {
      border-left: 1px solid smart-scale($table-background, $table-color-scale);
    }
    .stat-value {
      color: $primary-color;
    }
  }
}
