@import '_settings';

.character-cards {
  height: 600px;
  display: flex;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  .character-card {
    min-width: 350px;
    max-width: 350px;
    margin-left: 5px;
    margin-right: 5px;

    .stat-value {
      color: $secondary-color;
    }

    .character-card-header {
      .header-container {
        width: 100%;
        .header-title {
          justify-content: space-between;
          display: flex;
          width: 100%;
          font-size: 18px;
        }
        .header-subtitle {
          font-size: 12px;
          color: $secondary-color;
        }
      }
    }

    .dg-card-section {
      max-height: 510px;
      min-height: 510px;
      overflow-y: scroll;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

