<div>
  <div class="characteristic-box">
    <div class="characteristic-label">Strength</div>
    <div class="characteristic-item-box">
      <div class="characteristic-item">Effects <strong>damage bonus</strong>.</div>
    </div>
  </div>

  <div class="characteristic-box">
    <div class="characteristic-label">Dexterity</div>
    <div class="characteristic-item-box">
      <div class="characteristic-item">Determines <strong>initiative</strong>.</div>
      <div class="characteristic-item">Determines <strong>base dodge</strong> skill.</div>
    </div>
  </div>

  <div class="characteristic-box">
    <div class="characteristic-label">Constitution</div>
    <div class="characteristic-item-box">
      <div class="characteristic-item">Effects <strong>hit points</strong>.</div>
    </div>
  </div>

  <div class="characteristic-box">
    <div class="characteristic-label">Intelligence</div>
    <div class="characteristic-item-box">
      <div class="characteristic-item">Determines <strong>Idea</strong> characteristic.</div>
      <div class="characteristic-item">Determines <strong>personal interest</strong> skill points.</div>
    </div>
  </div>

  <div class="characteristic-box">
    <div class="characteristic-label">Power</div>
    <div class="characteristic-item-box">
      <div class="characteristic-item">Determines <strong>Sanity</strong> characteristic.</div>
      <div class="characteristic-item">Determines <strong>Luck</strong> characteristic.</div>
      <div class="characteristic-item">Determines <strong>magic points</strong>.</div>
    </div>
  </div>

  <div class="characteristic-box">
    <div class="characteristic-label">Size</div>
    <div class="characteristic-item-box">
      <div class="characteristic-item">Effects <strong>damage bonus</strong>.</div>
      <div class="characteristic-item">Effects <strong>hit points</strong>.</div>
    </div>
  </div>

  <div class="characteristic-box characteristic-box-bottom">
    <div class="characteristic-label">Education</div>
    <div class="characteristic-item-box">
      <div class="characteristic-item">Determines <strong>Know</strong> characteristic.</div>
      <div class="characteristic-item">Determines <strong>occupational</strong> skill points.</div>
    </div>
  </div>
</div>